.wrapper-dropdown-5:focus {
    border-radius: 5px 5px 0 0;
    background: #007889;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5:focus:after {
    border-color: #007889 transparent;
}

.wrapper-dropdown-5:focus .dropdown {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	max-height: 600px;
}