@import url('demo.css');
@import url('font-awesome.css');
@import url("noJS.css");

/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

.wrapper-demo {
	margin-top: 25px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
    *zoom: 1;
	font-weight: 400;
	width: 100%;
}

.wrapper-demo:after {
	clear: both;
	content: "";
}

.wrapper-dropdown-5 {
	/* Size & position */
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 8px;
	/* Styles */
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -3px;
	border-left-width: 6px;
	border-right-width: 6px;
	border-top-width: 6px;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: #007889;
}

.wrapper-dropdown-5 .dropdown {
	/* Size & position */
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	/* Styles */
	background: #fff;
	border-radius: 0 0 5px 5px;
	list-style: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	/* Hiding */
	max-height: 0;
	overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
	padding-right: 10px;
	padding-left: 10px;
}

.wrapper-dropdown-5 .dropdown li a {
	text-decoration: none;
	color: #4f1147;
	padding-top: 5px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 5px;
	transition: all 0.3s ease-out;
	display: block;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
	margin-right: 5px;
	color: inherit;
	vertical-align: middle;
	background-color: #01788A;
}
/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a  {
	color: #eab120;
}

/* Active state */

.wrapper-dropdown-5.active {
	border-radius: 5px 5px 0 0;
	background: #007889;
	box-shadow: none;
	color: white;
}

.wrapper-dropdown-5.active:after {
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: #007889;
}

.wrapper-dropdown-5.active .dropdown {
	background-color: #01788A;
}

/* No CSS3 support: none */
.wrapper-dropdown-5 .dropdown li:hover {
	background-color: #01788A;
}
